# hostname:port:database:username:password
{% if passari_backup_db_password %}
{{passari_backup_db_hostname or "localhost"}}:{{passari_backup_db_port or "*"}}:*:{{passari_backup_db_user}}:{{passari_backup_db_password}}
{% endif %}
