[Unit]
Description=Stop passari-sync-attachments (timer activated)
After=network.target

[Service]
ExecStart=/usr/bin/systemctl stop passari-sync-attachments.service

[Install]
WantedBy=multi-user.target
