[Unit]
Description=Synchronize MuseumPlus metadata information
After=network.target

[Service]
Type=simple
WorkingDirectory={{passari_user_home}}
Environment=LANG=en_US.UTF-8
ExecStart={{passari_workflow_venv_dir}}/bin/sync-hashes
User={{passari_user_name}}
Group={{passari_user_name}}

[Install]
WantedBy=multi-user.target
