[flask]
SECRET_KEY='{{passari_web_ui_secret_key}}'
SECURITY_URL_PREFIX='/web-ui/'
SECURITY_PASSWORD_SALT='{{passari_web_ui_password_salt}}'
SECURITY_SEND_REGISTER_EMAIL=false
SECURITY_SEND_PASSWORD_CHANGE_EMAIL=false
SECURITY_SEND_PASSWORD_RESET_EMAIL=false
SECURITY_SEND_PASSWORD_RESET_NOTICE_EMAIL=false
MUSEUMPLUS_UI_URL='{{museumplus_ui_url}}'
HEARTBEAT_INTERVAL_SYNC_PROCESSED_SIPS={{passari_web_ui_heartbeat_interval_sync_processed_sips}}
HEARTBEAT_INTERVAL_SYNC_OBJECTS={{passari_web_ui_heartbeat_interval_sync_objects}}
HEARTBEAT_INTERVAL_SYNC_ATTACHMENTS={{passari_web_ui_heartbeat_interval_sync_attachments}}
HEARTBEAT_INTERVAL_SYNC_HASHES={{passari_web_ui_heartbeat_interval_sync_hashes}}
