upstream web_ui {
    server unix://{{passari_web_ui_uwsgi_socket_path}};
}

server {
    server_name {{passari_web_ui_site_domain}};
    charset utf-8;
    access_log off;

    location /static {
        alias {{passari_web_ui_static_root}}/static;
    }

    location /web-ui/static {
        alias {{passari_web_ui_static_root}}/web-ui/static;
    }

    location / {
        uwsgi_pass web_ui;
        include {{uwsgi_params_file}};
    }
{% if passari_web_ui_ssl_cert %}
    {%- if passari_web_ui_ssl_cert == passari_web_ui_dev_ssl_cert %}

    # DEV CERTS IN USE; DO NOT USE IN PRODUCTION!
    {%- endif %}

    listen 443 ssl;
    ssl_certificate {{passari_web_ui_ssl_cert_path}};
    ssl_certificate_key {{passari_web_ui_ssl_cert_key_path}};
{% elif not letsencrypt_enable %}
{% elif le_ssl_cert_dir is defined and le_ssl_cert_dir.stat.exists %}


    listen 443 ssl; # managed by Certbot
    ssl_certificate {{letsencrypt_cert_path}}/fullchain.pem; # managed by Certbot
    ssl_certificate_key {{letsencrypt_cert_path}}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
{% endif %}
}
{% if passari_web_ui_ssl_cert
      or (le_ssl_cert_dir is defined and le_ssl_cert_dir.stat.exists) %}


server {
    if ($host = {{passari_web_ui_site_domain}}) {
        return 301 https://$host$request_uri;
    }{% if letsencrypt_enable %} # managed by Certbot{% endif %}


    server_name {{passari_web_ui_site_domain}};
    listen 80;
    return 404;{% if letsencrypt_enable %} # managed by Certbot{% endif %}

}
{% endif %}
