[uwsgi]
chdir = {{passari_user_home}}
module = passari_web_ui.wsgi
venv = {{passari_web_ui_venv_dir}}

master = true
plugins = {{uwsgi_python_plugin}}
processes = {{passari_web_ui_uwsgi_processes | default(2)}}

socket = {{passari_web_ui_uwsgi_socket_path}}
chmod-socket = 660
chown-socket = {{passari_user_name}}:uwsgi
uid = {{passari_user_name}}
gid = uwsgi

vacuum = true
{% if passari_web_ui_uwsgi_stats_socket %}

stats = {{passari_web_ui_uwsgi_stats_socket}}
{% endif %}
